html
  body
    .wrapper
      .id.polaroid
        img.slot-0-1(src='images/id-s.png')
        .title_bar
          .title Industrial Design
          .link
            a(href='javascript:void(0)', onclick='document.getElementById("id_pop").style.display="block"') EXPAND
    #id_pop.popup
      .cthru
        a.black(href='javascript:void(0)', onclick='document.getElementById("id_pop").style.display="none"')
        .grid.white
          a.close(href='javascript:void(0)', onclick='document.getElementById("id_pop").style.display="none"') CLOSE
          .tabber
