html
  body
    .wrapper
      .polaroid.wordpress
        img(src='images/wordpress-s.jpg')
        .title_bar
          .title WordPress Sites
          .link
            a(href='javascript:void(0)', onclick='document.getElementById("wordpress_pop").style.display="block"') EXPAND
    #wordpress_pop.popup
      .cthru
        a.black(href='javascript:void(0)', onclick='document.getElementById("wordpress_pop").style.display="none"')
        .grid.white
          a.close(href='javascript:void(0)', onclick='document.getElementById("wordpress_pop").style.display="none"') CLOSE
          .tabber
