---
title: "4timer"
layout: "tab"
category: "mobile_apps"
---

.row
  .slot-0-1-2-3
    p
      | 4timer was inspired by the rave reviews left on Amazon.com for a digital timer with 4 screens. Most of the reviewers were cooks, but there were also chemists, pilots, and other people chiming in about how great the timer was.
    p
      | Each reviewer had a unique story about how much easier the device made their own specialized activity. From all this, I gathered that an app combining easy access to multiple timers with a one touch interface would be successful.
    p
      | The one touch interface makes all the difference. The timers are like 4 measuring tapes, with minutes instead of inches. To set a timer, the user simply touches and drags on one, pulling it to the desired time. Upon release, the tape begins scrolling down. Most other timers require traversing several menus just to set one timer.
  .slot-4-5
    img(src='images/4timer.png')
