---
title: "DTI"
layout: "tab"
category: "mobile_apps"
---

.row
  .slot-0-1-2-3
    p
      | Direct Text Injection is a document reader utilizing the Rapid Serial Visual Presentation technique pioneered by James F. Joula. In RSVP, words from a body of text are flashed in front of the user in quick succession.
    p
      | The hardest part about speed reading is not the reading, but maintaining the eye’s scanning speed. RSVP allows the user to concentrate on each word in succession, instead of maintaining a constant scanning speed across the page.
    p
      | This technique allows even average readers to ramp up to speeds approaching 650 wpm, while retaining a high comprehension of the material.
    p
      | The app loads ebooks, PDFs, and feeds, and displays them. When the user touches and holds on the text, the RSVP window comes up and starts sequentially displaying the words.
    p
      | The user can nudge their thumb side to side to bump the speed up or down. The app adapts to the user’s favorite speed. When the thumb is released, the reading pauses.
  .slot-4-5
    img(src='images/dti.png')
