---
title: "eddan.com"
layout: "tab"
category: "web_sites"
---

.row
  .slot-0-1-2
    p
      | Eddan Katz is an expert on international internet policy and access to knowledge. He wanted a site to both serve as a blog, and an introduction to his work. We designed a clean, full featured site with a 3d tag cloud, an overview of his writing, and a blog section.
  .slot-3-4-5
     img(src='images/eddan.png')
