---
title: "Hactus"
layout: "tab"
category: "web_apps"
---

.row
  .slot-0-1-2
    p
      | I did this UI design for Hactus. Hactus connects entrepreneurs with the resources that make their businesses possible. The founder, Charles Vann Norman, wanted to keep the interface on one page with a built-in map. I went with a desert theme because of the name, and created the cactus logo. I chose a warm green and brown color scheme, and tried to do a lot with z-index (overlapping elements at different “heights”). I was consciously trying to get away from the “2.0” look of rounded corners and shiny buttons because 2.0 is played out.
  .slot-3-4-5
    img(src='images/hactus1.png')
.row
  .slot-0-1-2-3
    img(src='images/hactus2.png')
  .slot-4-5
    p
      | For the second iteration, we made it even more minimal. The map forms the entire background of the page with the table element and logo peeking in at the corners. Charles is currently mapping the startup scene in Santiago, Chile. The site is still in beta as he populates the database.
