---
title: "Hypothesis"
layout: "tab"
category: "web_apps"
---

.zoom
  img(src='images/hyprender_png8.png')

.col-1-2
  p.
    Hypothesis is a non profit organization building a distributed, open source platform for the collaborative evaluation of information. Right now, this consists of a tool to annotate websites, books, and academic papers.
  p.
    These annotations are visible to anyone else who has the extension installed. A reputation system lets users vote on and flag annotations, bringing the best to the top. This will allow people to collaborate on and extend any information online, calling out inaccuracies at their source, and improving the internet for everyone. 

.col-1-2
  p.
    I designed the entire interface from scratch, iterating through hundreds of mockups and sketches and writing all of the html/css and some of the Javascript. I focused on making what could have been a complex and unwieldy interface into something minimal, simple, and easy. I also handled the organization’s web presence, designing the main informational site and blog, as well as several websites for conferences and events organized by Hypothesis.


//- h1 Hypothesis
//- .row
//-   .slot-0-1-2-3-4-5
//-     p
//-       | Hypothesis is a non profit organization building a distributed, open source platform for the collaborative evaluation of information. Right now, this consists of a tool to annotate websites, books, and academic papers. Anyone can start up a Hypothesis server, install a browser extension or bookmarklet, and start annotating. 
//-     p
//-       | These annotations are visible to anyone else who has the extension installed. A reputation system lets users vote on and flag annotations, bringing the best to the top. This will allow people to collaborate on and extend any information online, calling out inaccuracies at their source, and improving the internet for everyone. 
//-     p
//-       | I designed the entire interface from scratch, iterating through hundreds of mockups and sketches and writing all of the html/css and some of the Javascript. I focused on making what could be a complex and unwieldy interface into something minimal, simple, and easy. I also handled the organization’s web presence, designing the main informational site and blog, as well as several websites for conferences and events organized by Hypothesis.

//- .row
//-   .slot-0-1-2-3-4-5
//-     img(src='images/hyphighlight.png')
//-   .slot-0-1-2-3-4-5
//-     p
//-       | The user starts out by highlighting a piece of text that they would like to annotate. A pen icon pops up, allowing them to deploy the Hypothesis sidebar and write an annotation.

//- .row
//-   .slot-0-1-2-3-4-5
//-     img(src='images/hypnewanno.png')
//-   .slot-0-1-2-3-4-5
//-     p
//-       | When they click the pen, a detail view of their new annotation slides out. The detail view shows the in progress annotation underneath the snippet of text they are annotating- the “source excerpt”. A new annotation is added to the page, showing up on the heatmap.

//- .row
//-   .slot-0-1-2-3-4-5
//-     img(src='images/hypbucket.png')
//-   .slot-0-1-2-3-4-5
//-     p
//-       | The heatmap shows all of the annotations on the page, clustered by where they appear. The pointers indicate the number of annotations on a part of the page. When the user clicks on a pointer, the “bucket view” slides out, showing all the annotations on that part of the page.

//- .row
//-   .slot-0-1-2-3-4-5
//-     img(src='images/hypdetail.png')
//-   .slot-0-1-2-3-4-5
//-     p
//-       | When the user clicks on one of the annotations in the bucket view, that annotation’s detail view slides out. The detail view shows the full annotation, along with a threaded discussion interface. 

//- .row
//-   .slot-0-1-2-3-4-5
//-     img(src='images/hypembed.png')
//-   .slot-0-1-2-3-4-5
//-     p
//-       | Annotations can also be embedded on blogs and other sites. The embedded annotation is a simplified view of a full annotation which also shows where the annotation comes from, along with other relevant information.
