---
title: "Hypothesis Site"
layout: "tab"
category: "web_sites"
---


.row
  .slot-0-1-2
    p
      | This is Hypothesis’s main site. It serves as a first stop for anybody looking for information about Hypothesis. It is a Wordpress site, built from scratch. It has several custom loops for displaying blog posts, team members, and numbered lists with images. I designed it to be very clean and minimal, with very close attention payed to layout and typography.
  .slot-3-4-5
    img(src='images/hypimagine.png')
