---
title: "I Annotate"
layout: "tab"
category: "web_sites"
---
 
.row
  .slot-0-1-2
    p
      | This is the site for the 2013 I Annotate conference. I built it in Docpad, a node.js module. The page listing attendees is generated directly from a Google spreadsheet, allowing non-technical team members to easily update the information on the site. I designed to have a very clean and classical feel, paying particularly close attention to the spacing and typography on the front page.
  .slot-3-4-5
    img(src='images/iannotatefront.png')
