---
title: "About Me"
layout: "tab"
category: "misc"
---

h1 About Me
.row
  .slot-0-1
    img(src='images/face.jpg')
  .slot-2-3-4-5
    p
      | I like to make things that do cool stuff. I started out in construction, studied industrial design, and then realized what I was born to do: build user interfaces and experiences.
    p
      | I view interfaces differently than most designers. To me, an interface is a tool, not a pretty page layout. I believe that form should follow function.
    p
      | I am a designer, but I believe that designers should be able to build what they design. For example, I built this site in DocPad, a node.js static site generator. I wrote all of the HTML templates in Jade and the CSS in Stylus. Pep.js adds the drag and drop functionality, along with a script I wrote to manage the stacking order. I wrote a tiny url router to dynamically load the popups based on page hash. This site displays well at all screen sizes and in all browsers above IE9.

.row
  .slot-0-1-2-3-4-5
    p 
      | I am very good at HTML/CSS, sketching and UX planning, and the Adobe CS suite. I am proficient at JS, on the frontend and in node. 
    p
      | If I won the lottery tomorrow, I would still work just as hard building things. I like to work on products and projects that change people’s routines in the real world, allow them to see the world in a different way, and expand their horizons intellectually and socially.
    p 
      | I am based in San Francisco, California. If you want to get in touch, send me an email at jehan [dot] tremback [at] gmail [dot] com
