---
title: "Light Tiles"
layout: "tab"
category: "id"
---


.row
  .slot-0-1-2
    p
      | This is one of the designs I did for an OSRAM lighting design competition. It consists of nine bright white LED’s mounted to a PCB with a microcontroller, a microphone, and a motion sensor. A translucent plastic cover snaps onto it, and the whole thing is attached to the wall.
    p
      | The light tiles have different behavior depending on the types and level of sound and motion in the room. The light tiles have a logarithmic response to activity- the less activity there is, the more responsive to activity they are. They also sense sharp sounds, like claps or taps. These turn the the light tiles to full brightness temporarily.
    p
      | The low power consumption of LED's means that the light tiles can be powered with unobtrusive flat wiring which is then painted over.
  .slot-3-4-5
    img(src='images/lightt_inside.png')
hr
.row
  .slot-0-1
    img(src='images/lightt_dark.png')
    p
      | When there is a low level of activity, like quiet page turning or small movements, the lights stay low and soothing. A tap on one of them turns it to full brightness for reading.
  .slot-2-3
    img(src='images/lightt_med.png')
    p
      | A moderate level of activity, like a quiet conversation or somebody walking around, causes the light tiles to respond quickly. The lights brighten where the people are.
  .slot-4-5
    img(src='images/lightt_brite.png')
    p
      | High levels of sound and movement, like a party, cause the lights to be lit brightly around the room. Lights pulse with music along to the beat.
