---
title: "Mentali-Tees"
layout: "tab"
category: "web_sites"
---


.row
  .slot-0-1-2
    p
      | Evan, author of the popular teleomorph.com blog, wanted to put his good taste to work with a line of screen-printed apparel. We made this bold, imaginative e-commerce shop to go with his style, and appeal to his demographic. It includes intuitive tag-based sorting of items, in-dash sales tracking, and an automatic frontpage display of his featured products.
  .slot-3-4-5
    img(src='images/mentali.png')
