---
title: "WBTM"
layout: "tab"
category: "id"
---

.row
  .slot-0-1-2
    p
      | This is a laptop case I designed for We Beat The Mountain, an innovative company making computer and office accessories out of 100% recycled materials.
    p
      | The design of this case was an iterative process, starting with a broad range of design and fabrication concepts, testing in a user group, more refined concepts, and finally culminating in a 3d solid model that was used to make molds for a prototype of the product.
    p
      | I collaborated with the WBTM marketing team in Utrecht, Holland over Skype and email to develop the design. They ended up going with a design consultancy in Holland for the final production model, but since I was a second-year student at the time, this doesn't really bother me. The experience of working with a team and real user feedback was a catalyst for me to continue developing my real-world skills.
  .slot-3-4-5
    img(src='images/wbtm_sketches.png')
hr
.row
  .slot-6
    img(src='images/wbtm_model.png')
  .slot-7
    p
      | This is the solid model I developed. From this model, molds were cut, and a prototype was made.
  .slot-8
    img(src='images/wbtm_render.png')
  .slot-9
    p
      | Here is a rendering of the model. Unfortunately, I lost the photos of the prototype (it's been a couple of years), but once I can get WBTM to send them back over, I will post them up.
